<mat-card id="movimientos">
    <mat-card-title *ngIf="cuenta">Movimientos cuenta # {{cuenta.id | number : '3.0-0'}} : {{cuenta.nombre}}</mat-card-title>
    <mat-card-subtitle *ngIf="cuenta">
      Cuenta {{cuenta.tipoCuenta}} abierta el {{cuenta.fechaApertura | date}}      
    </mat-card-subtitle>
    <mat-card-content>
        <table mat-table [dataSource]="movimientos" >            
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.id}} </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.valor | currency : COP}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.fecha | date}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef> Categoria </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.idCategoriaMovimiento.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.idCategoriaMovimiento.idTipoCategoria.nombre}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>        
    </mat-card-content>
</mat-card>
<mat-card id="movimiento">    
    <mat-card-content>
        <mat-form-field>
          <mat-select [(ngModel)]="tipoCategoria" 
              (ngModelChange)="getCategoriasMovimiento()"
              placeholder="Tipo" required>
            <mat-option *ngFor="let tipoCategoria of tiposCategoria" [value]="tipoCategoria">{{tipoCategoria.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="movimiento.idCategoriaMovimiento"               
              placeholder="Categoria" required>
            <mat-option *ngFor="let categoriaMovimiento of categoriasMovimiento" [value]="categoriaMovimiento">{{categoriaMovimiento.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="tipoCategoria && tipoCategoria.id == 3">
          <mat-select [(ngModel)]="cuentaDestino"               
              placeholder="Destino" required>
            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta">{{cuenta.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="movimiento.descripcion" placeholder="Descripcion" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="movimiento.valor" placeholder="Valor" required>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="createMovimiento()" >Crear</button>
      <button mat-flat-button color="accent" routerLink="/cuentas" >Volver</button>
    </mat-card-content>
</mat-card>