
#cuentas{    
    margin: 20px;
    vertical-align: top;
}

#cuenta{
    display: flex;
    flex-direction: column;    
    margin: 20px;
    vertical-align: top;
}

#cuenta > * {
    width: 100%;
}

  button{
      margin: 10px;
  }